MDTI Actor Lookup/Logic App/azuredeploy.json
{
    "id": "Actor_Lookup_LA",
    "title": "Actor Lookup LA",
    "description": "This template will deploy the actor lookup logic app, ensure you've deployed your Function App first and have the information",
    "iconType": "Event",
    "skuType": "Consumption",
    "data": {
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
            "DataCenterLocation": {
                "type": "String",
                "defaultValue": "eastus",
                "metadata": {
                    "displayName": "Datacenter Location",
                    "format": "",
                    "required": false
                }
            },
            "FunctionAppURI": {
                "type": "String",
                "defaultValue": "<https://YOUR_APP_NAME.azurewebsites.net/api/YOUR_FUNC_NAME>",
                "metadata": {
                    "displayName": "Logic App URI",
                    "format": "",
                    "required": false,
                    "description": "Find this in your deployed function app"
                }
            },
            "ResourceGroupName": {
                "type": "String",
                "defaultValue": "Resouce_group_name",
                "metadata": {
                    "displayName": "Resource Group",
                    "format": "",
                    "required": false
                }
            },
            "SubscriptionID": {
                "type": "String",
                "defaultValue": "Sub_Id",
                "metadata": {
                    "displayName": "Subscription ID",
                    "format": "",
                    "required": false
                }
            }
        },
            "triggers": {
                "Microsoft_Sentinel_incident": {
                    "type": "ApiConnectionWebhook",
                    "inputs": {
                        "body": {
                            "callback_url": "@{listCallbackUrl()}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                            }
                        },
                        "path": "/incident-creation"
                    }
                }
            },
            "actions": {
                "Entities_-_Get_Hosts": {
                    "runAfter": {
                        "MDTI-Base": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/entities/host"
                    }
                },
                "Entities_-_Get_IPs": {
                    "runAfter": {
                        "MDTI-Base": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/entities/ip"
                    }
                },
                "Entities_-_Get_URLs": {
                    "runAfter": {
                        "MDTI-Base": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/entities/url"
                    }
                },
                "For_each": {
                    "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
                    "actions": {
                        "For_each_4": {
                            "foreach": "@body('Parse_JSON_1')?['rules']",
                            "actions": {
                                "Append_to_array_variable_1": {
                                    "runAfter": {
                                        "Compose_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "entity_host",
                                        "value": "@outputs('Compose_2')"
                                    }
                                },
                                "Compose_2": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "@concat(string(body('Parse_JSON_1')?['name']), ', ', string(body('Parse_JSON_1')?['description']))"
                                },
                                "Condition_2": {
                                    "actions": {
                                        "Add_comment_to_incident_(V3)_2": {
                                            "runAfter": {
                                                "Submit_a_Copilot_for_Security_prompt_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p class=\"editor-paragraph\">Actor Group Name: @{outputs('Compose_3')}</p><br><p class=\"editor-paragraph\">Actor Group Summary: @{body('Submit_a_Copilot_for_Security_prompt_2')?['EvaluationResultContent']}</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Compose_3": {
                                            "runAfter": {
                                                "Join_1": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@body('Join_1')"
                                        },
                                        "Join_1": {
                                            "runAfter": {},
                                            "type": "Join",
                                            "inputs": {
                                                "from": "@variables('entity_host')",
                                                "joinWith": "\n"
                                            }
                                        },
                                        "Submit_a_Copilot_for_Security_prompt_2": {
                                            "runAfter": {
                                                "Compose_3": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "PromptContent": "Provide a summary for actor group named @{outputs('Compose_3')}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/process-prompt"
                                            }
                                        },
                                        "Update_incident_2": {
                                            "runAfter": {
                                                "Add_comment_to_incident_(V3)_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "severity": "High",
                                                    "status": "Active",
                                                    "tagsToAdd": {
                                                        "TagsToAdd": [
                                                            {
                                                                "Tag": "@outputs('Compose_3')"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "/Incidents"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Append_to_array_variable_1": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@variables('entity_host')",
                                                    "Cyber Threat Intelligence"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "MDTI_API_Hosts": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "@{body('MDTI-Base')?['resource']}",
                                    "authority": "",
                                    "clientId": "@{body('MDTI-Base')?['clientId']}",
                                    "secret": "@{body('MDTI-Base')?['clientSecret']}",
                                    "tenant": "@{body('MDTI-Base')?['tenantId']}",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/beta/security/threatIntelligence/hosts/@{items('For_each')?['HostName']}.@{items('For_each')?['DnsDomain']}/reputation"
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                },
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Parse_JSON_1": {
                            "runAfter": {
                                "MDTI_API_Hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('MDTI_API_Hosts')",
                                "schema": {
                                    "properties": {
                                        "@@odata.type": {
                                            "type": "string"
                                        },
                                        "classification": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "rules": {
                                            "items": {
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "relatedDetailsUrl": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "severity": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "description",
                                                    "severity",
                                                    "relatedDetailsUrl"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "score": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "runAfter": {
                        "Initialize_variable_1": [
                            "Succeeded"
                        ]
                    },
                    "type": "Foreach"
                },
                "For_each_1": {
                    "foreach": "@body('Entities_-_Get_URLs')?['URLs']",
                    "actions": {
                        "For_each_5": {
                            "foreach": "@body('Parse_JSON_2')?['rules']",
                            "actions": {
                                "Append_to_array_variable_2": {
                                    "runAfter": {
                                        "Compose_4": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "entity_url",
                                        "value": "@outputs('Compose_4')"
                                    }
                                },
                                "Compose_4": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "@concat(string(body('Parse_JSON_2')?['name']), ', ', string(body('Parse_JSON_2')?['description']))"
                                },
                                "Condition_3": {
                                    "actions": {
                                        "Add_comment_to_incident_(V3)_3": {
                                            "runAfter": {
                                                "Submit_a_Copilot_for_Security_prompt_3": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p class=\"editor-paragraph\">Actor Group Name: @{outputs('Compose_5')}</p><br><p class=\"editor-paragraph\">Actor Group Summary: @{body('Submit_a_Copilot_for_Security_prompt_3')?['EvaluationResultContent']}</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Compose_5": {
                                            "runAfter": {
                                                "Join_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@body('Join_2')"
                                        },
                                        "Join_2": {
                                            "runAfter": {},
                                            "type": "Join",
                                            "inputs": {
                                                "from": "@variables('entity_url')",
                                                "joinWith": "\n"
                                            }
                                        },
                                        "Submit_a_Copilot_for_Security_prompt_3": {
                                            "runAfter": {
                                                "Compose_5": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "PromptContent": "Provide a summary for the actor group @{outputs('Compose_5')}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/process-prompt"
                                            }
                                        },
                                        "Update_incident_3": {
                                            "runAfter": {
                                                "Add_comment_to_incident_(V3)_3": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "severity": "High",
                                                    "status": "Active",
                                                    "tagsToAdd": {
                                                        "TagsToAdd": [
                                                            {
                                                                "Tag": "@outputs('Compose_5')"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "/Incidents"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Append_to_array_variable_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@variables('entity_url')",
                                                    "Cyber Threat Intelligence"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP_3": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "@{body('MDTI-Base')?['resource']}",
                                    "authority": "",
                                    "clientId": "@{body('MDTI-Base')?['clientId']}",
                                    "secret": "@{body('MDTI-Base')?['clientSecret']}",
                                    "tenant": "@{body('MDTI-Base')?['tenantId']}",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/beta/security/threatIntelligence/hosts/@{items('For_each_1')?['Url']}/reputation"
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                },
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Parse_JSON_2": {
                            "runAfter": {
                                "HTTP_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_3')",
                                "schema": {
                                    "properties": {
                                        "@@odata.type": {
                                            "type": "string"
                                        },
                                        "classification": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "rules": {
                                            "items": {
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "relatedDetailsUrl": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "severity": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "description",
                                                    "severity",
                                                    "relatedDetailsUrl"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "score": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "runAfter": {
                        "Initialize_variable_2": [
                            "Succeeded"
                        ]
                    },
                    "type": "Foreach"
                },
                "For_each_2": {
                    "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                    "actions": {
                        "For_each_6": {
                            "foreach": "@body('Parse_JSON')?['rules']",
                            "actions": {
                                "Append_to_array_variable": {
                                    "runAfter": {
                                        "Compose": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "entity_ip",
                                        "value": "@outputs('Compose')"
                                    }
                                },
                                "Compose": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "@concat(string(body('Parse_JSON')?['name']), ', ', string(body('Parse_JSON')?['description']))"
                                },
                                "Condition_1": {
                                    "actions": {
                                        "Add_comment_to_incident_(V3)": {
                                            "runAfter": {
                                                "Submit_a_Copilot_for_Security_prompt_1": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p class=\"editor-paragraph\">Actor Group Name: @{outputs('Compose_1')}</p><br><p class=\"editor-paragraph\">Copilot Summary: @{body('Submit_a_Copilot_for_Security_prompt_1')?['EvaluationResultContent']}</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Compose_1": {
                                            "runAfter": {
                                                "Join": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "replace(replace(body('Join'), 'Cyber Threat Intelligence', ''), ',', '')"
                                        },
                                        "Join": {
                                            "runAfter": {},
                                            "type": "Join",
                                            "inputs": {
                                                "from": "@variables('entity_ip')",
                                                "joinWith": "\n"
                                            }
                                        },
                                        "Submit_a_Copilot_for_Security_prompt_1": {
                                            "runAfter": {
                                                "Compose_1": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "PromptContent": "Provide a summary of the actor group @{outputs('Compose_1')}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/process-prompt"
                                            }
                                        },
                                        "Update_incident": {
                                            "runAfter": {
                                                "Add_comment_to_incident_(V3)": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "severity": "High",
                                                    "status": "Active",
                                                    "tagsToAdd": {
                                                        "TagsToAdd": [
                                                            {
                                                                "Tag": "@outputs('Compose_1')"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "/Incidents"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Append_to_array_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@variables('entity_ip')",
                                                    "Cyber Threat Intelligence"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "MDTI_API_IPs": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "@{body('MDTI-Base')?['resource']}",
                                    "authority": "",
                                    "clientId": "@{body('MDTI-Base')?['clientId']}",
                                    "secret": "@{body('MDTI-Base')?['clientSecret']}",
                                    "tenant": "@{body('MDTI-Base')?['tenantId']}",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "headers": {
                                    "content-type": "application/json"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/beta/security/threatIntelligence/hosts/@{items('For_each_2')?['Address']}/reputation"
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                },
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "MDTI_API_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('MDTI_API_IPs')",
                                "schema": {
                                    "properties": {
                                        "@@odata.type": {
                                            "type": "string"
                                        },
                                        "classification": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "rules": {
                                            "items": {
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "relatedDetailsUrl": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "severity": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "description",
                                                    "severity",
                                                    "relatedDetailsUrl"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "score": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "runAfter": {
                        "Initialize_variable": [
                            "Succeeded"
                        ]
                    },
                    "type": "Foreach"
                },
                "For_each_3": {
                    "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                    "actions": {
                        "Append_to_array_variable_3": {
                            "runAfter": {
                                "Function_App_call": [
                                    "Succeeded"
                                ]
                            },
                            "type": "AppendToArrayVariable",
                            "inputs": {
                                "name": "groups",
                                "value": "@body('Function_App_call')"
                            }
                        },
                        "For_each_7": {
                            "foreach": "@variables('groups')",
                            "actions": {
                                "Compose_6": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "@split(items('For_each_7'), ', ')\r\n"
                                },
                                "Compose_7": {
                                    "runAfter": {
                                        "Compose_6": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@first(outputs('Compose_6'))\r\n"
                                },
                                "Condition": {
                                    "actions": {
                                        "Add_comment_to_incident_(V3)_1": {
                                            "runAfter": {
                                                "Submit_a_Copilot_for_Security_prompt": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p class=\"editor-paragraph\">Actor Group Name: @{outputs('Compose_7')}</p><br><p class=\"editor-paragraph\">Copilot Summary: @{body('Submit_a_Copilot_for_Security_prompt')?['EvaluationResultContent']}</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Add_comment_to_incident_(V3)_4": {
                                            "runAfter": {
                                                "Add_comment_to_incident_(V3)_1": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p class=\"editor-paragraph\">Actor Groups and associated domains:</p><br><p class=\"editor-paragraph\">@{body('Create_HTML_table')}</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Create_HTML_table": {
                                            "runAfter": {},
                                            "type": "Table",
                                            "inputs": {
                                                "format": "HTML",
                                                "from": "@variables('groups')"
                                            }
                                        },
                                        "Submit_a_Copilot_for_Security_prompt": {
                                            "runAfter": {
                                                "Create_HTML_table": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "PromptContent": "Provide a summary for actor group @{outputs('Compose_7')}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/process-prompt"
                                            }
                                        },
                                        "Update_incident_1": {
                                            "runAfter": {
                                                "Add_comment_to_incident_(V3)_4": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "severity": "High",
                                                    "status": "Active",
                                                    "tagsToAdd": {
                                                        "TagsToAdd": [
                                                            {
                                                                "Tag": "@outputs('Compose_7')"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "/Incidents"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Compose_7": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@outputs('Compose_7')",
                                                        ""
                                                    ]
                                                }
                                            },
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@outputs('Compose_7')",
                                                        "[]"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Append_to_array_variable_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Function_App_call": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "@{parameters('FunctionAppURI')}?item=@{items('For_each_3')?['Address']}&code=@{body('Get_secret')?['value']}"
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                },
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        }
                    },
                    "runAfter": {
                        "Initialize_variable_4": [
                            "Succeeded"
                        ]
                    },
                    "type": "Foreach"
                },
                "For_each_3-copy": {
                    "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
                    "actions": {
                        "Append_to_array_variable_4": {
                            "runAfter": {
                                "Function_App_call_1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "AppendToArrayVariable",
                            "inputs": {
                                "name": "hostpivot",
                                "value": "@body('Function_App_call_1')"
                            }
                        },
                        "For_each_8": {
                            "foreach": "@variables('hostpivot')",
                            "actions": {
                                "Compose_8": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "@split(items('For_each_8'), ', ')\r\n"
                                },
                                "Compose_9": {
                                    "runAfter": {
                                        "Compose_8": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@first(outputs('Compose_8'))\r\n"
                                },
                                "Condition_4": {
                                    "actions": {
                                        "Add_comment_to_incident_(V3)_5": {
                                            "runAfter": {
                                                "Submit_a_Copilot_for_Security_prompt_4": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p class=\"editor-paragraph\">Actor Group Name: @{outputs('Compose_9')}</p><br><p class=\"editor-paragraph\">Copilot Summary: @{body('Submit_a_Copilot_for_Security_prompt_4')?['EvaluationResultContent']}</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Add_comment_to_incident_(V3)_6": {
                                            "runAfter": {
                                                "Add_comment_to_incident_(V3)_5": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p class=\"editor-paragraph\">Actor Groups and associated domains:</p><br><p class=\"editor-paragraph\">@{body('Create_HTML_table_1')}</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Create_HTML_table_1": {
                                            "runAfter": {},
                                            "type": "Table",
                                            "inputs": {
                                                "format": "HTML",
                                                "from": "@variables('hostpivot')"
                                            }
                                        },
                                        "Submit_a_Copilot_for_Security_prompt_4": {
                                            "runAfter": {
                                                "Create_HTML_table_1": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "PromptContent": "Provide a summary for actor group @{outputs('Compose_9')}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/process-prompt"
                                            }
                                        },
                                        "Update_incident_4": {
                                            "runAfter": {
                                                "Add_comment_to_incident_(V3)_6": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "severity": "High",
                                                    "status": "Active",
                                                    "tagsToAdd": {
                                                        "TagsToAdd": [
                                                            {
                                                                "Tag": "@outputs('Compose_9')"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "/Incidents"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Compose_9": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@outputs('Compose_9')",
                                                        ""
                                                    ]
                                                }
                                            },
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@outputs('Compose_9')",
                                                        "[]"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Append_to_array_variable_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Function_App_call_1": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "@{parameters('FunctionAppURI')}?item=@{item()?['HostName']}.@{item()?['DnsDomain']}&code=@{body('Get_secret')?['value']}"
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                },
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        }
                    },
                    "runAfter": {
                        "Initialize_variable_5": [
                            "Succeeded"
                        ]
                    },
                    "type": "Foreach"
                },
                "Get_secret": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['keyvault-1']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('MDTI-Function-App')}/value"
                    }
                },
                "Initialize_variable": {
                    "runAfter": {
                        "Entities_-_Get_IPs": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "entity_ip",
                                "type": "array",
                                "value": []
                            }
                        ]
                    }
                },
                "Initialize_variable_1": {
                    "runAfter": {
                        "Entities_-_Get_Hosts": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "entity_host",
                                "type": "array",
                                "value": []
                            }
                        ]
                    }
                },
                "Initialize_variable_2": {
                    "runAfter": {
                        "Entities_-_Get_URLs": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "entity_url",
                                "type": "array",
                                "value": []
                            }
                        ]
                    }
                },
                "Initialize_variable_3": {
                    "runAfter": {
                        "Entities_-_Get_IPs": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "groups",
                                "type": "array",
                                "value": []
                            }
                        ]
                    }
                },
                "Initialize_variable_4": {
                    "runAfter": {
                        "Initialize_variable_3": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "actorgroup",
                                "type": "array",
                                "value": []
                            }
                        ]
                    }
                },
                "Initialize_variable_5": {
                    "runAfter": {
                        "Entities_-_Get_Hosts": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "hostpivot",
                                "type": "array",
                                "value": []
                            }
                        ]
                    }
                },
                "MDTI-Base": {
                    "runAfter": {
                        "Get_secret": [
                            "Succeeded"
                        ]
                    },
                    "type": "Workflow",
                    "inputs": {
                        "host": {
                            "triggerName": "manual",
                            "workflow": {
                                "id": "/subscriptions/@{parameters('SubscriptionID')}/resourceGroups/@{parameters('ResourceGroupName')}/providers/Microsoft.Logic/workflows/MDTI-Base"
                            }
                        }
                    }
                }
            },
            "outputs": {}
        },
        "connections": {
            "azuresentinel": {
                "id": "/subscriptions/@{parameters('SubscriptionID')}/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel",
                "connectionId": "",
                "connectionName": ""
            },
            "azuresentinel-1": {
                "id": "/subscriptions/@{parameters('SubscriptionID')}/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel",
                "connectionId": "",
                "connectionName": ""
            },
            "keyvault-1": {
                "id": "/subscriptions/@{parameters('SubscriptionID')}/providers/Microsoft.Web/locations/eastus/managedApis/keyvault",
                "connectionId": "",
                "connectionName": ""
            },
            "securitycopilot": {
                "id": "/subscriptions/@{parameters('SubscriptionID')}/providers/Microsoft.Web/locations/eastus/managedApis/securitycopilot",
                "connectionId": "",
                "connectionName": ""
            }
        }
    }
}
